
@use "./partials/variables" as *;
@use "./partials/header";
@use "./partials/mediaQueries";
@use "./partials/hero";
@use "./partials/collections";
@use "./partials/gallery";
@use "./partials/moneyStuff";
@use "./partials/products";
@use "./partials/blog";
@use "./partials/footer";

* {
    list-style: none;  
}


html {
    font-size: 62.5%;
    font-family: $fontStack;
}

h1 {
    font-weight: 400;
    font-size: 10rem;
    text-transform: uppercase;
    margin: 0;
}

p { 
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}











