@charset "UTF-8";
/* top banner */
.wrapper {
  background-color: #abd373;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
.banner ul {
  display: flex;
}
.banner li {
  color: white;
  padding-left: 2rem;
  font-size: 2rem;
}

/* top nav */
nav {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  padding: 4rem 0;
}
nav a {
  color: black;
}
nav ul {
  display: flex;
}
nav li {
  padding: 0 2rem;
  font-size: 2rem;
}

.navBag {
  height: 2rem;
  width: 2rem;
}

/* hero */
.heroWrapper {
  background-color: #F8EEE5;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.hero p {
  font-size: 2.5rem;
}

.sale {
  font-weight: 300;
  font-size: 6rem;
}

.heroText {
  width: 50%;
}

.heroText button {
  height: auto;
  text-transform: uppercase;
  color: white;
  background-color: #abd373;
  border: none;
  border-radius: 3rem;
  padding: 2.5rem;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.heroImage {
  width: 50%;
}

/* collections */
.collections {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.collections p {
  font-size: 1.5rem;
}
.collections h4 {
  font-size: 4rem;
  margin: 1rem 0;
}
.collections span {
  display: block;
}

.collections button,
.contact button {
  height: auto;
  text-transform: uppercase;
  color: white;
  background-color: #abd373;
  border: none;
  border-radius: 3rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.collectionsTop,
.collectionsBottom {
  display: flex;
  margin-top: 3rem;
}

.twoThirds {
  width: 66%;
}

.oneThird {
  width: 33%;
}

.cactusCollection {
  background-image: url(./../../assets/b1.jpeg);
  background-repeat: no-repeat;
}

.cactusCollectionText,
.plantPortText {
  padding: 5rem;
}

.plantPort {
  background-image: url(./../../assets/b2.jpeg);
  background-repeat: no-repeat;
}

.plantPortText {
  text-align: center;
}

.collectionsBottom.plantPort {
  background-image: url(./../../assets/b3.jpeg);
}

.collectionsBottom .cactusCollection {
  background-image: url(./../../assets/b4.jpeg);
}

/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 400;
}
.gallery p {
  margin: 0.5rem 0;
}
.gallery p span {
  color: #abd373;
  margin-top: 0;
}

.shoppingCart {
  height: 2rem;
}

.cartContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid white;
  padding: 0.25rem;
  padding-bottom: 0;
  box-shadow: 2px 2px 5px lightgray;
  margin: 0.5rem;
}

.plantCard {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* money stuff */
.moneyStuff {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.moneyStuff h3 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.moneyStuff p {
  font-size: 1.5rem;
}

.moneyStuffContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.shipping,
.payment,
.services {
  display: flex;
  border: 1px dashed #abd373;
  border-radius: 2px;
}

.shippingImg,
.paymentImg,
.servicesImg {
  padding: 3rem 0rem 3rem 3rem;
}

.shippingText,
.paymentText,
.servicesText {
  padding: 3rem;
}

/* products */
.products {
  margin: 0 auto;
  width: 33.3%;
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

h2::before,
h2::after {
  content: "—";
  color: #abd373;
}

.productButtons {
  display: flex;
  justify-content: center;
}

.productButtonContainerSelected {
  border: 1px dashed #abd373;
  border-radius: 2px;
  padding: 1rem 2rem;
  margin: 2rem;
  color: #abd373;
}

.productButtonContainer {
  border: 1px solid rgba(149, 151, 157, 0.3803921569);
  border-radius: 2px;
  padding: 1rem 2rem;
  margin: 2rem;
  color: black;
}

/*posts*/
.latestPosts {
  width: 33.3%;
  margin: 5rem auto;
}
.latestPosts img {
  max-width: 100%;
}
.latestPosts p {
  font-size: 2rem;
  margin: 5rem auto;
  text-align: center;
  line-height: 2rem;
}

.blogPosts {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.blogCard {
  width: 30%;
  background-color: #f6f7fb;
  border-radius: 2rem;
}

.blogCard span {
  text-transform: uppercase;
  color: #abd373;
}

.blogCardContainer {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.blogCardContainer img {
  margin-top: 3rem;
}

h5 {
  font-size: 3rem;
  margin: 1rem 0;
}

/* footer */
footer {
  background-image: url(./../../assets/footer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 1.5rem;
}
footer ul {
  padding-left: 0;
}
footer a {
  color: black;
  font-weight: 300;
}
footer p {
  padding-right: 1rem;
  font-weight: 300;
}

h6 {
  margin: 2rem 0;
  font-size: 1.75rem;
  font-weight: 300;
}

.footerWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footerColOuter {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  width: calc(30% - 1rem);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footerColInner {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  width: calc(20% - 1rem);
  align-items: flex-start;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.socials {
  display: flex;
  justify-content: flex-start;
  height: 2rem;
  margin-top: 1rem;
}
.socials img {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0 1rem 0 0;
  height: 1.5rem;
  width: 1.5rem;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #abd373;
  width: 75%;
}

/* contact.html */
.contactHeader {
  background-image: url(./../../assets/contact-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactHeader h4 {
  text-transform: uppercase;
  font-size: 4rem;
}

.contact {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px lightgray;
  max-width: 1200px;
  width: 90%;
  margin: 5rem auto;
}

.contactSide {
  background-image: url(./../../assets/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 25%;
}

.contactText {
  padding: 2rem;
}

.contactText p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.contactForm {
  width: 75%;
}

fieldset {
  border: none;
}

.contactForm input {
  width: calc(45% - 2rem);
  padding: 1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin: 1rem;
}

.contactForm textarea {
  font-style: italic;
  width: calc(100% - 8rem);
  margin: 1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding: 1rem;
}

.formButton {
  text-align: right;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
}

.formButton button {
  border-radius: 1rem;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.fa-solid {
  font-size: 2rem;
}

* {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 10rem;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

@media (min-width: 480px) {
  .burger {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner,
.banner li {
    font-size: 1.25rem;
    padding: 1rem;
  }
  nav ul {
    display: none;
  }
  h2 {
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  h2::before,
h2::after {
    display: none;
  }
  .hero {
    justify-content: center;
  }
  .heroImage {
    display: none;
  }
  .heroText {
    width: 100%;
    text-align: center;
  }
  .heroText p {
    font-size: 1.5rem;
  }
  .heroText h1 {
    font-size: 3rem;
  }
  .heroText span {
    font-size: 2rem;
  }
  .heroText button {
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .moneyStuffContainer {
    flex-direction: column;
    margin: 1rem auto;
  }
  .moneyStuffContainer img {
    display: none;
  }
  .moneyStuffContainer h3 {
    font-size: 1.5rem;
  }
  .plantCard {
    width: 50%;
  }
  .collectionsTop {
    flex-direction: column;
    align-items: center;
  }
  .twoThirds,
.oneThird {
    width: 80%;
  }
  .cactusCollectionText {
    text-align: center;
    padding: 3rem;
  }
  .collectionsBottom {
    display: none;
  }
  .latestPosts {
    margin: 0 auto;
    width: 90%;
  }
  .latestPosts p {
    font-size: 1rem;
    margin: 0 auto;
  }
  .blogPosts {
    flex-wrap: wrap;
  }
  .blogPosts img {
    display: none;
  }
  .blogCard {
    width: 100%;
    margin: 1rem 0;
  }
  .footerWrapper {
    flex-wrap: wrap;
  }
  .footerColOuter {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .footerColInner {
    width: calc(30% - 2rem);
    margin: 0 auto;
    padding: 1rem;
  }
  footer {
    background-image: none;
  }
  .contact {
    flex-direction: column;
  }
  .contactHeader {
    background-size: auto;
  }
  .contactSide,
.contactForm {
    width: 100%;
  }
  .contactForm input,
.contactForm textarea {
    width: 90%;
  }
}